<% include ../partials/header %>

<div class="row">
    <div class="col-md-3">
        <h1 id="header_fl">Add Features to Project
    	    <% if(currentUser && camp.author.id.equals(currentUser._id)){ %>
                <i class="fa fa-plus" style="float: right;"></i>
            <% } %>
        </h1>
    	<% if(currentUser && camp.author.id.equals(currentUser._id)){ %>
    	    <input type="text" id="add_item" placeholder="Add Item">
        <% } %>
        
    	<ul id="features_list">
    	</ul>
    	
    	<% if(currentUser && camp.author.id.equals(currentUser._id)){ %>
        	<form  id="features_list_form" action="/campgrounds/<%= camp._id %>/features_list?_method=PUT" method="POST">
                <input type="text" name="features_list" id="data" style="display: none;">
                <button type="submit" class="btn btn-success pull-right">Save</button>
            </form>
        <% } %>
    </div>
    <div class="col-md-9">
        <div class="thumbnail">
            <img class="img-responsive" src=<%= camp.image %>>
            <div class="caption-full">
                <!--<h4 class="pull-right">$ <%= camp.price %>/night</h4>-->
                <div class="stars pull-right">
                  <form action="">
                    <input class="star star-5" id="star-5" type="radio" name="star"/>
                    <label class="star star-5" for="star-5"><i class="far fa-star"></i></label>
                    <input class="star star-4" id="star-4" type="radio" name="star"/>
                    <label class="star star-4" for="star-4"><i class="far fa-star"></i></label>
                    <input class="star star-3" id="star-3" type="radio" name="star"/>
                    <label class="star star-3" for="star-3"><i class="far fa-star"></i></label>
                    <input class="star star-2" id="star-2" type="radio" name="star"/>
                    <label class="star star-2" for="star-2"><i class="far fa-star"></i></label>
                    <input class="star star-1" id="star-1" type="radio" name="star"/>
                    <label class="star star-1" for="star-1"><i class="far fa-star"></i></label>
                  </form>
                </div>
                <h4><a><%= camp.name %></a></h4>
                <p> <%= camp.description %> </p>
                <p>
                    <em>Submitted by <a href="/user/<%= camp.author.id %>"> <%= camp.author.username %> </a>, <%= moment(camp.createdAt).fromNow() %></em>
                </p>
                <% if(currentUser && camp.author.id.equals(currentUser._id)){ %>
                    <a href="/campgrounds/<%= camp._id %>/edit">
                        <button type="button" class="btn btn-warning">Edit</button>
                    </a>
                <% } %> 
                <% if(currentUser && (camp.author.id.equals(currentUser._id) || currentUser.isAdmin)){ %>
                    <form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST" style="display:inline!important;" >
                        <button class="btn btn-danger">Remove</button>
                    </form>
                <% } %> 
            </div>
        </div>
        <div class="well">
            <div class="text-right">
                <a class="btn btn-success" href="/campgrounds/<%= camp._id %>/comments/new">New Comment</a>
            </div>
            <hr>
            <% camp.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= comment.author.username %></strong>
                        <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                        <p>
                            <%= comment.text %> 
                        </p>
                        <div>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <a style="float: left; padding-left: 5px;" href="/campgrounds/<%= camp._id %>/comments/<%= comment._id %>/edit">
                                    <i class="fas fa-edit" style="color: #af6c00;"></i>
                                </a>
                            <% } %>
                            <% if(currentUser && (comment.author.id.equals(currentUser._id) || camp.author.id.equals(currentUser._id) || currentUser.isAdmin)){ %>
                                <form action="/campgrounds/<%= camp._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button style="border: none; background: none; color: darkred; float: left;"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous">
</script>
<script>
    var itens = JSON.parse(unescape("<%=camp.features_list%>"))
    
    // ready
    var reload_itens = function(){
    	let i = 0, j;
    	$('#features_list').empty()
    	itens.forEach(elem => {
    		let str = 	"<li class='item "+ i +"'>"+
                            "<% if(currentUser && camp.author.id.equals(currentUser._id)){ %>" +
    						    "<span class='hf_trash'><i class='fa fa-trash'></i></span>" +
    						    elem.title +
    						"<% }else{ %>" +
    						    "<span style='margin-left: 20px;'>" +
    						        elem.title +
    						    "</span>" +
    						"<% } %>" +
    						"<% if(currentUser && camp.author.id.equals(currentUser._id)){ %>" +
    						    "<span class='hf_plus'><i class='fa fa-plus'></i></span>" +
    						"<% } %>" +
    					"</li>" +
    					"<% if(currentUser && camp.author.id.equals(currentUser._id)){ %>" +
        					"<input id='add_subitem_"+ i +"' type='text' placeholder='Add SubItem'>" +
						"<% } %>" 
    		j = 0;
    		elem.sub_itens.forEach(s_e => {
    			str += 	"<li class='sub_item "+ i +"_"+ (j++) +"'>" + 
    			            "<% if(currentUser && camp.author.id.equals(currentUser._id)){ %>" +
    			                "<span class='hf_trash'><i class='fa fa-trash'></i></span>" +
        						"<span class='hf_angle'><i class='fas fa-angle-right'></i></span>" +
        						s_e.topic +
    						"<% }else{ %>" +
    						    "<span style='margin-left: 20px;'>" +
    						        "<span class='hf_angle'><i class='fas fa-angle-right'></i></span>" +
        						    s_e.topic +
    						    "</span>" +
    						"<% } %>" +
    					"</li>"
    		})
    		i++;
    		$("#features_list").append(str)
    	})
    }
    
    reload_itens()
    // ready
    var add_itens = function(obj, event){
    	if(event.which === 13){
    		//grabbing new todo text from input
    		var todoText = $(obj).val();
    		$(obj).val("");
    		//create a new li and add to ul
    		if(obj.id == "add_item")
    			itens.push({ title: todoText, sub_itens: []})
    		else{
    			var index_si = parseInt(obj.id.split('_')[2])
    			itens[index_si].sub_itens.push({topic: todoText})
    		}
    		reload_itens()
    		$("#data")[0].value = escape(JSON.stringify(itens))
    		
    		console.log($("#data"))
    	}
    }
    
    // ready
    $("#add_item").keypress(function(event){
    	add_itens(this, event)
    });
    
    
    // ready
    $("#features_list").on("keydown","[id*='add_subitem']", function(event){
    	add_itens(this, event)
    });
    
    // ready
    $("#features_list").on("click", ".fa-plus", function(){
    	var input_i = $(this).parent().parent()[0].className.split(' ')[1]
    	$('#add_subitem_' + input_i).fadeToggle();
    });
    
    $("h1 > .fa-plus").click(function(){
    	$("#add_item").fadeToggle();
    })
    
    // ready
    $("#features_list").on("click", ".hf_trash", function(event){
    	if($(this).parent()[0].className.split(' ')[0] == 'item'){
    		pos = itens.map(e => {return e.title}).indexOf($(this).parent()[0].textContent)
    		if(pos > -1) itens.splice(pos, 1)
    	}else{
    		item_i = parseInt($(this).parent()[0].className.split(' ')[1][0])
    		subitem_i = parseInt($(this).parent()[0].className.split(' ')[1][2])
    		itens[item_i].sub_itens.splice(subitem_i, 1);
    	}
    	reload_itens()
    	$("#data")[0].value = escape(JSON.stringify(itens))
    });

</script>
<% include ../partials/footer %>